 /* ==========================================================================
   TYPOGRAPHY
   ===========================================================================*/
/* TITLES */
h1,
.h1{
	font-family: $font-family-main;
	@include font-size($font-size-h1);
	color: $color-white;
	line-height: $line-height-main;
	font-weight: $font-weight-main;
	padding: 0;
	margin: 0;
	@media screen and (max-width: 479px){
		@include font-size(13px);
	}
	@media screen and (max-width: 767px){
		@include font-size(25px);
	}
}
h2,
.h2{
	font-family: $font-family-main;
	@include font-size($font-size-h2);
	color: $color-black;
	line-height: $line-height-main;
	font-weight: $font-weight-main;
	display: block;
	text-align: center;
	text-transform: uppercase;
	@media screen and (max-width:479px){
		margin-top: -6px;
		@include font-size(21px);
	}
	@media screen and (max-width:767px){
		@include font-size(30px);
	}
}

/* TEXT */
.italic{
	font-style: italic;
}
.text_center{
	text-align: center !important;
}
.text_left{
	text-align: left !important;
}
.text_rigth{
	text-align: right !important;
}
.text_bold{
	font-weight: 700;
}
.text_uppercase{
	text-transform: uppercase;
}
.no-upercouse{
	text-transform: none;
}
/* LINKS */
a {
	font-family: $font-family-main;
	@include font-size($font-size-main);
	color: $color-white;
	line-height: $line-height-main;
	font-weight: $font-weight-main;
	text-decoration: none;
	&:hover{
		@include mq('laptop') {
			color: $color-white;
		}
	}
}
a[href^="mailto:"],
a[href^="tel:"]{
	color: inherit;
	text-decoration: none;
	&:hover{
		color: $color-white;
		text-decoration: none;
	}
}
ul,
ol{
	margin: 0;
	padding-left: 0;
	list-style: none;
	li{
		list-style: none;
	}
}
/* end typography */
